<div id="popup-modal" class="modal">
        <div class="modal-content">
            <button class="close-modal">&times;</button>
            <div class="popup-content">
                <img src="~/images/promo/green-deal-popup.jpg" alt="Eyelix Green Deal">
                <div class="popup-text">
                    <span class="discount-badge">20%</span>
                    <h2>Eyelix Green Deal</h2>
                    <p>Enjoy 20% off every pair<br>October 25 - November 5</p>
                    <a asp-controller="Promotions" asp-action="GreenDeal" class="btn-primary">View More</a>
                    <button class="btn-dismiss">No, thanks!</button>
                </div>
            </div>
        </div>
    </div>
